@model Item

<div class="row mt-1 mb-5">
    <h2>@Model.name</h2>
</div>

<div class="row mb-1">
    <div class="col-lg-3">
        <img class="img-thumbnail" src="@Model.img.path" alt="@Model.img.name" />
    </div>
    <div class="col-lg-9">
        <p>Описание: @Model.desc</p>
    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-9">
        <p>Цена: @Model.price.ToString("c") / @Model.uom</p>
    </div>
    <div class="col-lg-3">
        <a class="btn btn-warning float-right" asp-controller="ShopCart" asp-action="addToCart" asp-route-itemID="@Model.id">Добавить в корзину</a>
    </div>
</div>